!!!
%html
  %head
    %title hello
    - if @page_description
      %meta{:name => "description", :content => @page_description}
    = stylesheets :screen
    = javascripts('jquery-1.7.2.min')
    = javascripts('carousel.jquery')
  %body{:id => body_id, :class => body_class}
    = yield

    = javascripts('application')
